%ul.main-logo
  %li
    #main-logo
      - url = user_signed_in? ? main_app.my_home_path : main_app.root_path
      = link_to url do
        = image_tag "ufpe/logo.png", size: "255x90"

%ul.help-links
  - unless current_site.external_help.blank?
    %li= link_to t('.links.help'), current_site.external_help
  %li
    = render :partial => "shared/language_links"
